div#menu{
  width: 180px;
  padding: 0px;
  margin: 0px;
  font: 14px Arial, sans-serif;
}

div#menu ul{
display: block;
margin: 0px
padding: 0px;
}

div#menu ul a{
display: block;
padding: 3px 3px 3px 1 em;
text-indent: 20px; color: #ccc;
text-decoration: none;
border: 2px solid #1a1a1a;
border-left: 0px;
border-right: 0px;
}

div#menu ul a:hover{
text-indent: 30px;
color: #fff;
border:1px solid #9F0004;
border-left: 0px;
borer-right: 0px;
}
