/*
   1.  margin: valor1......as 4 margens terão valor1;
   2. margin: valor1 valor2......margem superior e inferior terão valor1 - margem direita e esquerda terão valor2
   3. margin: valor1 valor2 valor3......margem superior terá valor1 - margem direita e esquerda terão valor2 - margem inferior terá valor3
   4. margin: valor1 valor2 valor3 valor4....margens superior, direita, inferior e esquerda nesta ordem.

*/
body.contents {
	margin: 0px 6px 0px 6px;
	font-family: Tahoma, fantasy;
	color: #000000;
	background-color: #FFFFFF;
}

body.menu {
	margin: 0px;
/*	background: url(../images/MenuBG.png);*/
	font-family: Tahoma, fantasy;
	color: #000000;
	background-color: #FFFFFF;
}

body.header {
	margin: 0px;
	font-family: Tahoma, fantasy;
	text-align: justify; 
	color: #000000;
	background-color: #FFFFFF;
}

body.footer {
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, fantasy;
	color: #000000;
	background-color: #FFFFFF;
}

td.headerleft {
	background-image: url(../images/BDIHeader.png);
	background-repeat: no-repeat;
	height: 58px;
	width: 312px;
}

td.footerleft {
	padding-left: 6px;
	height: 31px;
	width: 540px;
}

td.headerright {
	background-image: url("../images/BDIHeaderBG.png");
	height: 58px;
	text-align: right;
	color: #FFFFFF;
	background-color: #FFFFFF;
	padding-right: 6px;
}

td.footerright {
	height: 31px;
}

h1.titulo {
	font: normal normal bold 18pt Tahoma, fantasy;
	border-bottom: 2px solid #000080;
	margin: 0px 0px 6px 0px;
}

td.lineseparator {
	height: 6px;
	font-size: 1px;
}

td.line {
	height: 2px; 
	font-size: 1px;
	background-color: #000080;
}

p.paragraph {
	margin: 0px 0px 6px 0px;
	margin-bottom: 0.5cm;
	text-align: justify;
}

p.paragraph:first-letter {
	margin-left: 2cm;
}

fieldset {
	border: 2px solid #000080;
}

legend {
	font-weight: bold;
	font-family: Tahoma, fantasy;
	padding: 0px 6px 0px 6px; 
}